<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243914948243-d8copn69a18nlj73crbrn6h1hevthg0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243914948243-d8copn69a18nlj73crbrn6h1hevthg0f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>243914948243-7290om99scj0hdo12ddmm6jsr1fcadbt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMSlRpr7pnX8iIQwUZX5F3l1GgfFN0NjY</string>
	<key>GCM_SENDER_ID</key>
	<string>243914948243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PeriFY</string>
	<key>PROJECT_ID</key>
	<string>perify-ebc9a</string>
	<key>STORAGE_BUCKET</key>
	<string>perify-ebc9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243914948243:ios:1fc95efb547fa42d</string>
	<key>DATABASE_URL</key>
	<string>https://perify-ebc9a.firebaseio.com</string>
</dict>
</plist>